.wrapper {
  position: relative;
  margin-top: 50px;
  margin-left: 45%;
  margin-right: 92px;
}
@media screen and (max-width: 1397px) {
  .wrapper {
    margin-left: 39%;
  }
}
@media screen and (max-width: 1254px) {
  .wrapper {
    margin-left: 35%;
  }
}
@media screen and (max-width: 1152px) {
  .wrapper {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}


